<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>RedditApp: Add new Post</title>
</head>
<body>
<form action="#" th:action="@{/posts/add}" th:object="${post}" method="post">
    <p>Write a post below<br/>
        <span th:if="${#fields.hasErrors('content')}" th:errors="*{content}">Content Error.</span><br/>
        <input autofocus="autofocus" type="text" th:field="*{content}"/></p>
    <p><input type="submit" value="Submit"/></p>
</form>
</body>
</html>