<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>RedditApp: Posts</title>
</head>
<body>
<p>Posts will be displayed here</p>
<br/>
<ul style="list-style: none">
    <li th:each="post : ${posts}">
        <span th:text="${post.id} +'. '"></span>
        <a th:href="@{'posts/{id}' (id=${post.id})}" th:text="${post.content}"></a>
        <span th:text="'| Score: ' + ${post.score}"></span>
        <a th:href="@{'posts/{id}/upvote' (id=${post.id})}">+</a>
        <a th:href="@{'posts/{id}/downvote' (id=${post.id})}">-</a>
        <span th:text="'| Created on: ' + ${#dates.format(post.created,'YYYY/MM/dd HH:mm')}"></span>
    </li>
</ul>
<a href="/posts/add">Add a new post</a>
<br/>
<a style="font-size: 52px" href="/posts/deletthis">BALEET</a>
</body>
</html>