<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>RedditApp: Posts</title>
    <link rel="stylesheet" type="text/css" href="../bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="../custom.css"/>
</head>
<body>
<p id="title">NOT REDDIT&copy;</p>
<table class="table">
    <thead>
    <tr>
        <th class="thincolumn">PostID</th>
        <th>Post</th>
        <th class="rightcolumn thincolumn">Score</th>
        <th class="rightcolumn thincolumn">Vote</th>
        <th class="rightcolumn datecolumn">Date</th>
    </tr>
    </thead>
    <tbody>
    <!--/*@thymesVar id="page" type="org.springframework.data.domain.Page"*/-->
    <tr th:each="post : ${page.getContent()}">
        <!--/*@thymesVar id="post" type="com.greenfoxacademy.models.Post"*/-->
        <td class="thincolumn" th:text="${post.id} +'.'"></td>
        <td><a th:href="@{'/posts/{id}' (id=${post.id})}" th:text="${post.content}"></a></td>
        <td class="rightcolumn thincolumn" th:text="${post.score}"></td>
        <td class="rightcolumn thincolumn"><a th:href="@{'posts/{id}/upvote' (id=${post.id})}">+</a>
            <a th:href="@{'posts/{id}/downvote' (id=${post.id})}">-</a></td>
        <td class="rightcolumn datecolumn" th:text="${#dates.format(post.created,'YYYY/MM/dd HH:mm')}"></td>
    </tr>
    </tbody>
</table>

<!-- Pagination Bar -->
<div th:fragment='paginationbar'>
    <div class='pagination pagination-centered'>
        <!--/*@thymesVar id="page" type="org.springframework.data.domain.Page"*/-->
        <ul th:object="${page}">
            <li th:class="${page.isFirstPage()}? ' disabled ' : ''">
                <span th:if='${page.firstPage}'>← First</span>
                <a th:if='${not page.firstPage}' th:href='@{${page.url}(page=1,size=${page.size})}'>←
                    First</a>
            </li>
            <li th:class="${page.hasPreviousPage}? '' : 'disabled'">
                <span th:if='${not page.hasPreviousPage}'>«</span>
                <a th:if='${page.hasPreviousPage}'
                   th:href='@{${page.url}(page=${page.number-1},size=${page.size})}'
                   title='Go to previous page'>«</a>
            </li>
            <li th:each="item : ${page.items}" th:class="${item.current}? ' active' : ''">
                <span th:if='${item.current}' th:text='${item.number}'>1</span>
                <a th:if='${not item.current}'
                   th:href='@{${page.url}(page=${item.number},size=${page.size})}'><span
                        th:text='${item.number}'>1</span></a>
            </li>
            <li th:class="${page.hasNextPage}? '' : 'disabled'">
                <span th:if='${not page.hasNextPage}'>»</span>
                <a th:if='${page.hasNextPage}'
                   th:href='@{${page.url}(page=${page.number+1},size=${page.size})}'
                   title='Go to next page'>»</a>
            </li>
            <li th:class="${page.lastPage}? ' disabled' : ''">
                <span th:if='${page.lastPage}'>Last →</span>
                <a th:if='${not page.lastPage}'
                   th:href='@{${page.url}(page=${page.totalPages},size=${page.size})}'>Last →</a>
            </li>
        </ul>
    </div>
</div>
<div class="btncontainer">
    <a href="/posts/add" style="text-decoration: none">
        <input id="sendbtn" value="Add a new post" type="button"/>
    </a>
</div>
<p><a style="font-size: 32px" href="/posts/deletthis">BALEET</a></p>
</body>
</html>